.mail {
    padding: 90px 0;
    .bg-image {
        background-image: url(/image/bg-purple.png);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        border-radius: 5px;
        .mail-img img {
            display: flex;
            align-items: flex-end;
            width: 314px;
            height: auto;
            margin-left: 86px;
        }
        .email-form-section {
            padding-top: 48px;
            padding-left: 80px;
            max-width: 500px;
            .email-title {
                font-weight: 800;
                font-size: 33px;
                line-height: 41px;
                color: #ffffff;
            }
            .email-submit {
                padding-top: 32px;
                #email {
                    border-radius: 5px 0px 0px 5px;
                    padding: 14px 16px;
                    width: 248px;
                    height: 52px;
                    background: #F4F5F7;
                    border: none;
                }
                button {
                    margin-left: -5px;
                    border: none;
                    width: 120px;
                    height: 52px;
                    background: #18191F;
                    border-radius: 0px 5px 5px 0px;
                    font-weight: 700;
                    color: #FFFFFF;
                }
                button:hover {
                    background: #696a6e;
                }
            }
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .mail {
        padding: 54px 0;
        .bg-image {
            background-size: cover;
            .mail-img img {
                width: 269px;
                margin-left: 30px;
            }
            .email-form-section {
                padding-top: 49px;
                padding-left: 0;
                max-width: 350px;
                .email-title {
                    font-size: 24px;
                    line-height: 32px;
                }
                .email-submit {
                    #email {
                        width: 210px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .mail {
        padding: 54px 0;
        .bg-image {
            display: block;
            padding: 0 19px 40px;
            .mail-img img {
                display: flex;
                width: 269px;
                margin: 0 auto;
            }
            .email-form-section {
                margin: 0 auto;
                padding: 24px 0 0;
                max-width: 300px;
                .email-title {
                    font-size: 24px;
                    line-height: 32px;
                }
                .email-submit {
                    padding-top: 16px;
                    #email {
                        border-radius: 5px 0px 0px 5px;
                        padding: 10px 12px;
                        width: 151px;
                        height: 44px;
                    }
                    button {
                        height: 44px;
                        background: #18191F;
                    }
                }
            }
        }
    }
}