@import url(./font.css);
@import url(./header.css);
@import url(./tocha-online.css);
@import url(./tarif.css);
@import url(./steps.css);
@import url(./feedback.css);
@import url(./email.css);
@import url(./footer.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
li,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    list-style: none;
}

body {
    font-family: "Gilroy";
    color: #1D2530;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .container {
        max-width: 1024px;
        margin: 0 40px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .container {
        max-width: 768px;
        margin: 0 40px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        max-width: 480px;
        margin: 0 23px;
    }
}