.tarif {
    padding-top: 100px;
    .tarif-title {
        font-weight: 800;
        font-size: 46px;
        line-height: 64px;
        text-align: center;
    }
    .tarif-desc {
        padding-top: 16px;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
    }
    .tarif-card-desktop {
        padding-top: 40px;
        display: flex;
        justify-content: space-between;
        column-gap: 30px;
        .tarif-card {
            text-align: center;
            width: 350px;
            height: 387px;
            background: #FCFEFF;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
            border-radius: 6px;
            .card-status {
                background: rgba(104, 94, 214, 0.05);
                width: 100%;
                font-weight: 800;
                font-size: 24px;
                line-height: 48px;
                color: #685ED6;
            }
            .card-info {
                padding: 40px 30px 50px;
                .card-title {
                    font-weight: 700;
                    font-size: 28px;
                    line-height: 40px;
                }
                .card-price {
                    padding-top: 32px;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 30px;
                    padding-bottom: 46px;
                }
                button {
                    width: 100%;
                    padding: 12px 32px;
                    background: #685ED6;
                    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
                    border-radius: 6px;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 24px;
                    color: #FFFFFF;
                    border: none;
                }
                button:hover {
                    background: #33AFE1;
                }
            }
        }
    }
    #tarif-card-slideshow {
        display: none;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .tarif {
        padding-top: 54px;
        .tarif-title {
            font-size: 32px;
            line-height: 40px;
        }
        .tarif-desc {
            padding-top: 8px;
            font-size: 20px;
            line-height: 28px;
        }
        .tarif-card-desktop {
            display: none;
        }
        #tarif-card-slideshow {
            display: block;
            overflow: hidden;
            padding-top: 36px;
            .slide-wrapper {
                display: flex;
                justify-content: space-between;
                // column-gap: 20px;
                width: 1030px;
                -webkit-animation: slide 18s ease infinite;
                .slide {
                    float: left;
                    // height: 510px;
                    // width: 728px;
                }
                .tarif-card {
                    text-align: center;
                    width: 330px;
                    height: 387px;
                    background: #FCFEFF;
                    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
                    border-radius: 6px;
                    .card-status {
                        background: rgba(104, 94, 214, 0.05);
                        width: 100%;
                        font-weight: 800;
                        font-size: 24px;
                        line-height: 48px;
                        color: #685ED6;
                    }
                    .card-info {
                        padding: 40px 30px 50px;
                        .card-title {
                            font-weight: 700;
                            font-size: 28px;
                            line-height: 40px;
                        }
                        .card-price {
                            padding-top: 32px;
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 30px;
                            padding-bottom: 46px;
                        }
                        button {
                            width: 100%;
                            padding: 12px 0;
                            background: #685ED6;
                            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
                            border-radius: 6px;
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 24px;
                            color: #FFFFFF;
                            border: none;
                        }
                        button:hover {
                            background: #33AFE1;
                        }
                    }
                }
            }
            .slider-dots {
                padding-top: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                column-gap: 12px;
                .span {
                    width: 10px;
                    height: 10px;
                    border: 2px solid #685ED6;
                    border-radius: 50%;
                }
                .span1 {
                    background-color: #685ED6;
                }
            }
        }
    }
    @-webkit-keyframes slide {
        20% {
            margin-left: 5px;
        }
        40% {
            margin-left: 5px;
        }
        80% {
            margin-left: -345px;
        }
        90% {
            margin-left: -345px;
        }
    }
}

@media screen and (max-width: 480px) {
    .tarif {
        padding-top: 54px;
        .tarif-title {
            font-size: 32px;
            line-height: 40px;
        }
        .tarif-desc {
            padding-top: 8px;
            font-size: 20px;
            line-height: 28px;
        }
        .tarif-card-desktop {
            display: none;
        }
        #tarif-card-slideshow {
            display: block;
            overflow: hidden;
            padding-top: 32px;
            .slide-wrapper {
                display: flex;
                justify-content: space-between;
                width: 1030px;
                -webkit-animation: slide 18s ease infinite;
                .slide {
                    float: left;
                    // height: 510px;
                    // width: 728px;
                }
                .tarif-card {
                    text-align: center;
                    width: 330px;
                    height: 387px;
                    background: #FCFEFF;
                    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
                    border-radius: 6px;
                    .card-status {
                        background: rgba(104, 94, 214, 0.05);
                        width: 100%;
                        font-weight: 800;
                        font-size: 24px;
                        line-height: 48px;
                        color: #685ED6;
                    }
                    .card-info {
                        padding: 40px 30px 50px;
                        .card-title {
                            font-weight: 700;
                            font-size: 28px;
                            line-height: 40px;
                        }
                        .card-price {
                            padding-top: 32px;
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 30px;
                            padding-bottom: 46px;
                        }
                        button {
                            width: 100%;
                            padding: 12px 0;
                            background: #685ED6;
                            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
                            border-radius: 6px;
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 24px;
                            color: #FFFFFF;
                            border: none;
                        }
                        button:hover {
                            background: #33AFE1;
                        }
                    }
                }
            }
            .slider-dots {
                padding-top: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                column-gap: 12px;
                .span {
                    width: 10px;
                    height: 10px;
                    border: 2px solid #685ED6;
                    border-radius: 50%;
                }
                .span1 {
                    background-color: #685ED6;
                }
            }
        }
    }
    @-webkit-keyframes slide {
        20% {
            margin-left: 5px;
        }
        30% {
            margin-left: 5px;
        }
        50% {
            margin-left: -345px;
        }
        60% {
            margin-left: -345px;
        }
        80% {
            margin-left: -670px;
        }
        90% {
            margin-left: -670px;
        }
    }
}